<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h5>Admin Home</h5>
<a href="/AddCategory">Add Category</a><br>
<a href="/ApprovedVendors">Approved Vendors</a><br>
{#<a href="/EditCategory">Edit Category</a><br>#}
<a href="/RejectedVendors">Rejected Vendors</a><br>
{# <a href="/Reply">Reply</a><br>}#}
<a href="/ad_ViewCategory">View Category</a><br>
<a href="/ViewComplaint">View Complaint</a><br>
<a href="/ViewFeedback">View Feedback</a><br>
<a href="/ViewProducts">View Products</a><br>
<a href="/ViewUsers">View Users</a><br>
<a href="/ViewVendors">View Vendors</a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>

</body>
</html>